<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý Gia phả</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <h1>Quản lý Gia phả</h1>
        <nav>
            <ul>
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#">Gia phả</a></li>
                <li><a href="#">Thành viên</a></li>
                <li><a href="#">Liên hệ</a></li>
                <li style="margin-left: 50%;"><button class="btn" onclick="showLoginModal()">Login</button></li>
                <li><button class="btn" onclick="showSignupModal()">Sign Up</button></li>
            </ul>
        </nav>
    </header>
    <div id="loginModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Login</h2>
            <form id="loginForm" action="/login" method="POST">
                <p id="successMessage" style="color: green;"></p>
                <input type="text" id="username" name="username" placeholder="Username" required>
                <input type="password" id="password" name="password" placeholder="Password" required>
                <input type="submit" value="Login">
                <p id="errorMessage" style="color: red;"></p>
                <p style="margin-left: 70%;"><a onclick="showSignupModal()">Chưa có tài khoản</a></p>
            </form>
        </div>
    </div>

    <!-- Signup Modal -->
    <div id="signupModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Sign Up</h2>
            <form id="registerForm" action="/register" method="POST">
                <input type="text" id="username1" name="username1" placeholder="Username" required>
                <input type="password" id="password1" name="password1" placeholder="Password" required>
                <input type="email" id="email" name="email" placeholder="Email" required>
                <input type="submit" value="Sign Up">
                <p id="registerMessage" style="color: red;"></p>
            </form>
            <p style="margin-left: 70%;"><a onclick="showLoginModal()">Đã có tài khoản</a></p>
        </div>
    </div>
    <section class="hero">
        <h2>Xây dựng và duy trì Gia phả của bạn</h2>
        <p>Ứng dụng quản lý gia phả giúp bạn tổ chức thông tin về gia đình của mình một cách dễ dàng và hiệu quả.</p>
        <li><button class="btn" onclick="showSignupModal()">Bắt đầu ngay</button></li>
    </section>

    <footer>
        <p>Bản quyền © 2024 Quản lý Gia phả</p>
    </footer>

    <script src="scripts.js"></script>
</body>

</html>