<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý Gia phả</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <h1>Quản lý Gia phả</h1>
        <nav>
            <ul>
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#">Gia phả</a></li>
                <li><a href="#">Thành viên</a></li>
                <li><a href="#">Liên hệ</a></li>
                <li style="margin-left: 50%;"><button id="logoutBtn">Logout</button></li>
            </ul>
        </nav>
    </header>
    <section class="hero">
        <h2>Xây dựng và duy trì Gia phả của bạn</h2>
        <p>Ứng dụng quản lý gia phả giúp bạn tổ chức thông tin về gia đình của mình một cách dễ dàng và hiệu quả.</p>
        <li><button class="btn" onclick="showSignupModal()">Bắt đầu ngay</button></li>
    </section>

    <footer>
        <p>Bản quyền © 2024 Quản lý Gia phả</p>
    </footer>

    <script>
        document.getElementById("logoutBtn").addEventListener("click", function () {
            // Perform logout actions here
            // For example, redirecting to logout page or clearing session storage
            // Here, let's just redirect to a logout page
            window.location.href = "/"; // Change the URL accordingly
        });
    </script>
</body>

</html>